* {
    background-color: #1D3052;
    margin: 0;
    padding: 0;
}

header {
    margin-bottom: 80px;

    background: #1B1E3E;
    color: aliceblue;
    border-radius: 30px;
    padding: 20px;
    border-bottom: 2px solid white;
    box-shadow: 3px 3px 9px #F8F9FD;
}

.game2,
.game3 {
    background-color: transparent;
    color: aliceblue;
    font-size: 15px;
    margin-right: 12px;
    border-radius: 20px;
    padding: 10px;
    box-shadow: 3px 3px 9px #F8F9FD;
    border-color: #455F9E;
    text-decoration: none;
    position: relative;
    left: 70%;
    letter-spacing: 2px;
}

.game2:hover {
    color: #455F9E;
    cursor: pointer;
}

.game3:hover {
    color: #455F9E;
    cursor: pointer;
}

.logo {
    background: transparent;
    text-decoration: none;
    color: #CCD9B4;
    font-size: 25px;
}

.outer {
    height: 750px;
    width: 750px;
    margin: 0 auto;
    border: 1px solid white;
    box-shadow: 8px 6px 9px #CCD9B4;
}

.box_row {
    background: ;
    height: 300px;
    width: 750px;
}

.box {
    height: 200px;
    width: 200px;
    float: left;
}

.v_lad {
    height: 300px;
    width: 150px;
    float: left;
}

.circle {
    height: 50px;
    width: 50px;
    margin: 25px;
    border-radius: 50%;
    box-sizing: border-box;
    float: left;
}

.border_red {
    border: 5px solid white;
}

.border_green {
    border: 5px solid white;
}

.border_blue {
    border: 5px solid white;
}

.border_yellow {
    border: 5px solid white;
}

.v_lad_row {
    height: 50px;
    width: 150px;
}

.v_lad_cell {
    height: 50px;
    width: 50px;
    border: 1px solid white;
    box-sizing: border-box;
    float: left;
    text-align: center;
}

.red {
    background: #8a0508;
}

.green {
    background: #0c4a0e;
}

.blue {
    background: #142eb8;
}

.yellow {
    background: #b89e14;
}

.middle_row {
    height: 150px;
    width: 750px;
}

.h_lad {
    height: 150px;
    width: 300px;
    float: left;
}

.h_lad_row {
    height: 50px;
    width: 300px;
    float: left;
}

.h_lad_cell {
    height: 50px;
    width: 50px;
    border: 1px solid white;
    float: left;
    box-sizing: border-box;
    text-align: center;
}

.ludo_home {
    height: 0;
    width: 0;
    border-left: 75px solid #8a0508;
    border-right: 75px solid #b89e14;
    border-top: 75px solid #0c4a0e;
    border-bottom: 75px solid #142eb8;
    float: left;
}

.star {
    font-size: 32px;
    text-align: center;
}